[Unit]
Description=A gRPC server for system
After=network.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/pipenv/.venv/bin/sys-agentd
ExecStop=/bin/kill -TERM $MAINPID
TimeoutSec=10

[Install]
WantedBy=multi-user.target
