*.pyc
*.log
tags
__pycache__
/storeagent/adapters_pb2.py
/storeagent/adapters_pb2_grpc.py
/storeagent/pools_pb2.py
/storeagent/pools_pb2_grpc.py
/storeagent/store_util_pb2.py
/storeagent/store_util_pb2_grpc.py
/storeagent/vols_pb2.py
/storeagent/vols_pb2_grpc.py
/storeagent.egg-info/
/build/
/dist/
/.coverage
/coverage.xml
/htmlcov/
