[Unit]
Description=A gRPC server for store_agent
After=NetworkManager.service

[Service]
Type=simple
Restart=on-failure
ExecStart=/opt/pipenv/.venv/bin/storeagentd
ExecStop=/bin/kill -TERM $MAINPID
TimeoutSec=10

[Install]
WantedBy=multi-user.target
